.footer
{
	padding-top: 20px;
	padding-bottom: 15px;
	background-color: #333;
	color: white;
	text-align: center;
	margin-bottom: -10px;
}

.circle-icon{
	background: #3498DB;
    width: 20px;
    height: 20px;
    border-radius: 1%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 10px;
}