.mainBody{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.headerText{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    
}

.headerText a {
    text-decoration: none;
    cursor: pointer;
}

.logo{
    font-family: Fantasy;
    text-align: center;
    font-size: 50px;    
    text-transform: uppercase;
    color: #0095CA;
}

.tagline{
    text-align: center;
    font-family: 'Proxima Nova', sans-serif;
    white-space:nowrap;
    font-weight: bold;
    font-size: 108%;
    margin-top: 8px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: black;
}

nav{
    font-family: sans-serif;
    font-stretch: expanded;
}

nav button{
    font-family: sans-serif;
}

.navbarposition{
    margin: auto; 
    width: fit-content;
}

.navbar {    
    left: 0;    
    right: 0;
    margin-top: 15px;
    
    overflow: hidden;
    background-color: #333;
    border-width: 1px 0;
  }

  .icon {
    display: none;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 16px 30px 16px 30px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 16px 30px 16px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #0095CA;
    border-bottom: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.active {
    background-color: #0095CA;
  }


  @media screen and (max-width: 786px){
    .logo{
        font-size: 30px;
    }
    .tagline{
        font-size: 10px;   
    }
  }

  @media screen and (max-width: 786px) {
    .navbar a, .dropdown .dropbtn{
        display: none;
    }
    .navbarposition{
        width:auto;
    }
    a.icon {
        float: left;
        display: block;
    }
  }

   
  @media screen and (max-width: 786px) {
    .navbar.responsive {position: relative;}
    .icon {
      position: absolute;
      left: 0;
      top: 0;
    }
    .navbar.responsive a {
        transition: width 1s;
      float: none;
      display: block;
      text-align: left;
    }
    .navbar.responsive .dropdown {float: none;}
    .navbar.responsive .dropdown-content {position: relative;}
    .navbar.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }